/*
// Theme: default
// Author: Jake Jarrett
// Website: https://github.com/jakehh/WebDAW
//
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body, html {
    font-family: 'Open Sans', 'sans-serif';
    background: transparent;
}

/* Navigation (Headerbar) */

.navbar-default {
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,234,234,0.8)), color-stop(100%, rgba(213,213,213,0.8)));
    background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(213,213,213,1) 100%);
    border: 1px solid #a6a6a8;
    border-right: 1px solid #a6a6a8;
    border-left: 1px solid #a6a6a8;
    border-radius: 7px 7px 0px 0px;
    padding-top: 0px;
}

.navbar {
    padding-right: 17px;
    height: 45px !important;
    min-height: 45px !important;
    max-height: 45px !important;
}

.navbar-default .navbar-nav > li > a {
  color: #4c4c4c;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #424242;
}

.navbar-default .navbar-nav > .open > a {
  color: #6f6f6f;
  background: transparent;
}

.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #2c2c2c;
  background: transparent;
}

input.bpm-input {
    max-height: 24px;
    height: 24px;
    margin-top: -4px;
}

/* Sidebar */

.sidebar {
  background-color: #ffffff;
  border-right: 1px solid #d9d9d9;
  border-radius: 0px 0px 4px 4px;
}

.rightsidebar {
  background-color: #fffffff;
  border-left: 1px solid #d9d9d9;
  border-radius: 0px 0px 4px 4px;
}

.instrumentsbutton {
  border-bottom: 1px solid #a6a6a8;
}

.new-content {
  background-color: #ffffff;
}

#effectSortable li {
  background-color: #E0E0E0;
  border: 1px solid #000000;
}

.track {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}

.addTrack {
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #a6a6a8;
  border-radius: 0px 0px 4px 0px;
  background-color: #ffffff;
}

.plusButton {
    color: #6f6f6f;
}

.addTrack:hover {
    background: #ffffff;
    -webkit-transition: background-color .5s linear;
}

.plusButton:hover {
    transition: color .5s;
    color: #0069d9;
    -webkit-animation: spin .25s 0 linear;
}

@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-90deg);}	
}

.trackBox {
  height: 90px;
  position: relative;
  background-color: #f5f5f5;
  border-top: 1px solid #a8a8a8;
}

.timeline {
  height: 40px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}

#left ul.nav li a:hover .lbl {
  color: #ffffff !important;
  background: #0069d9;
}

#left ul.nav li.current > a .lbl {
  background-color: #999;
  color: #fff !important;
}

#left ul.nav li.parent a {
  padding: 0px;
  color: #000000;
}

#left ul.nav > li.parent > a {
  padding-top: 14px;
  padding-left: 12px;
  margin-top: -1px;
  margin-bottom: -2px !important;
  border-bottom: solid 1px #ffffff;
  text-transform: uppercase;
  color: #000000;
  background: #FFFFFF;
  height: 45px;
}

#left ul.nav li.parent a:hover, #left ul.nav li.parent a:focus {
  background: #0069d9;
  color: #ffffff !important;
  margin-left: -1px;
  padding-left: 13px;
}

#left ul.nav li.parent ul li a {
  color: #222;
  border: none;
  display: block;
  padding-left: 5px;
  margin-left: -12px;
  padding-left: 12px;
  margin-bottom: -2px;
}

#left ul.nav li.parent ul li a:hover {
  color: #FFFFFF;
  background: #0069d9;
}

.selectedmenu {
  color: #FFFFFF !important;
  background: #0069d9 !important;
}

#left ul.nav li .lbl {
  padding: 5px 12px;
  display: inline-block;
}

#left ul.nav li.current > a > .lbl {
  color: #fff;
}

#left ul.nav li a .lbl {
  font-size: 12px;
}

/* Titlebar */

.titlebar {
  line-height: 18px !important;
  padding-top: 7px;
  position: absolute;
  float: center !important;
  left: 45%;
}

.project {
  margin-top: -5px;
  font-size: 10px;
  line-height: 20px;
}

/* nw-shell stuff */


/* Dropdown Menus */

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus {
  color: #ffffff;
}

.dropdown-submenu:hover > a {
  color: #6f6f6f;
}

/* Close/Minimize/Fullscreen */

.close-button {
    margin-top: 17px;
    margin-left: 10px;
    height: 12px;
    width: 12px;
    background: url(../img/yosemite-trafficlight.png) 0 0;
}

.close-button:hover {
    background: url(../img/yosemite-trafficlight.png) 0 -14px;
}

.close-button:focus {

    background: url(../img/yosemite-trafficlight.png) 0 -28px;
}

.minimize-button {
    margin-top: 17px;
    margin-left: 10px;
    height: 12px;
    width: 12px;
    background: url(../img/yosemite-trafficlight.png) -14px 0;
}

.minimize-button:hover {
    background: url(../img/yosemite-trafficlight.png) -14px -14px;
}

.minimize-button:focus {
    background: url(../img/yosemite-trafficlight.png) -14px -28px;
}


.fullscreen-button {
    margin-right: 15px;
}

.fullscreen-expand {
    margin-top: 17px;
    margin-left: 10px;
    height: 12px;
    width: 12px;
    background: url(../img/yosemite-trafficlight.png) -28px 0;
}

.fullscreen-expand:hover {
    background: url(../img/yosemite-trafficlight.png) -28px -14px;
}

.fullscreen-expand:focus {
    background: url(../img/yosemite-trafficlight.png) -28px -28px;
}

.fullscreen-compress {
    margin-top: 17px;
    margin-left: 10px;
    height: 12px;
    width: 12px;
    background: url(../img/yosemite-trafficlight.png) -42px 0;
}

.fullscreen-compress:hover {
    background: url(../img/yosemite-trafficlight.png) -42px -14px;
}

.fullscreen-compress:focus {
    background: url(../img/yosemite-trafficlight.png) -42px -42px;
}

.back-button {
    margin-top: -1px;
    margin-left: 5px;
    margin-right: 8px;
    height: 14px;
    width: 8px;
    background: url(images/back-sml.png);
}

.forward-button {
    margin-top: -1px;
    margin-left: 5px;
    margin-right: 8px;
    height: 14px;
    width: 8px;
    background: url(images/forward-disabled-sml.png);
}

.btn-default {
    margin-top: -4px;
    height: 24px;
    background-color:#ffffff;
    box-shadow: 0px 1.5px 0.25px 0.00px rgba(16, 16, 16, 0.2);
    border-right: 1px solid #dbdbda;
    border-left: 1px solid #dbdbda;
    border-bottom: 1px solid #dbdbda;
    border-radius: 4px;
    z-index: 3;
}

.btn-disabled {
    margin-top: 3px;
    margin-left: -3px;
    height: 24px;
    background-color: #ffffff;
    box-shadow: 0px 1.5px 0.25px 0.00px rgba(16, 16, 16, 0.2);
    border-right: 1px solid #dbdbda;
    border-left: 1px solid #dbdbda;
    border-bottom: 1px solid #dbdbda;
    border-radius: 4px;
    z-index: 2;
}

.btn {
    border: #ffffff;
}

.btn-default:hover {
    background-color: #e4e4e4;
    box-shadow: 0.5px 1px 0.5px 0.00px rgba(16, 16, 16, 0.35);
}

.btn-group {
    margin-top: -10px;
    margin-right: 0px;
}

.cog-button {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    height: 12px;
    width: 12px;
    background: url(images/cog-12.png);
}

.hamburger-menu {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    height: 12px;
    width: 14px;
    background: url(images/hamburger-menu.png);
}

.arrow-down {
    margin-top: -8px;
    margin-left: 50px;
    padding-bottom: 6px;
    height: 6px;
    width: 9px;
    background: url(images/arrow-down-sml.png);
}
/* Drop Downs */

ul.dropdown-menu {
    background-color: rgba(253, 253, 254, 0.8);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0px 8px 16px 0.00px rgba(131, 150, 166, 0.75);
    border: rgba(253, 253, 254, 0.8);
    border-radius: 9px !important;
    padding-top: 9px;
    padding-bottom: 9px;
}

.dropdown-menu>li>a {
    color: #000000;
    padding: 3px 20px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    -webkit-box-sizing: border-box;
    background-color: rgba(21, 126, 251, 1);
    border-bottom: 1px solid #065687;
    border-top: 1px solid #065687;
    padding: 2px 20px;
}

.bpm-push {
    padding-left: 15px;
}

/* Content */

.content {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    outline-style: none;
}

.container-fluid {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    margin-top: 44px;
    z-index: 1;
    position: relative;
    background-color: #FFFFFF;
    left: 0px;
    outline-style: none;
    border-bottom: 1px solid #a6a6a8;
    border-radius: 0px 0px 4px 4px;
}

.push-settings {
    margin-right: 10px;
}

/* Border */

html {
    z-index: 100;
    border: 1px solid #a6a6a8;
    border-radius: 7px 7px 4px 4px;
}

/* Timeline Fix */

.timeline_pull {
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: transparent;
  margin-left: -15px;
  padding-left: 15px;
}